/* .dataTables_wrapper .dataTables_length,
.dataTables_info,
.nav-tabs .nav-link.active,
.dataTables_length select {
  color: var(--color-table-tx) !important;
  border-color: var(--color-border-main) !important;
  background-color: var(--color-bg-container);
} */
.content-body {
  background-color: #fafafa;
}
.marine-icons {
  width: 70%;
}

.marine-active-menu {
  font-weight: bold;
}

.marine-tab-text {
  font-size: 13px;
}

.marine-borders {
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px #ddd;
}
/* .submit {
  padding-bottom: 10px;
} */

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next,
.dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:focus,
.dataTables_wrapper .dataTables_paginate .paginate_button {
  font-size: 10px;
}
.icon {
  max-width: 75% !important;
}
.icon-btn {
  width: 50px;
  height: 50px;
  border: none;
  background: red;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  /* left: 4px; */
  background-color: #fafafa;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #d70900;
}

input:focus + .slider {
  box-shadow: 0 0 1px #d70900;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.my-table {
  width: 100% !important;
}
.fix-form {
  width: 20% !important;
  height: calc(1.4em + 0.79rem + 1px);
}
.small-svg {
  width: 18px;
  height: 18px;
  margin-top: 5px;
}
.paginate > .page-item > .page-link {
  color: #b2b2b2 !important;
}

/* @media (min-width: 1600px) {
  .container {
    max-width: none !important;
  }
} */
.smsViewTab {
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  justify-items: center;
}
@media screen and (max-width: 600px) {
  .smsViewTab {
    justify-content: center;
  }
}

tbody + thead {
  display: none;
}

.card-image {
  min-height: 300px;
}

.card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-holder {
  height: 100%;
}

.page-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-content p {
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
}

.page-content-card {
  border-radius: 6px;
  border: 1px solid gainsboro;
  min-width: 300px;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.page-content-card a {
  width: 335px;
}

.csvReader {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.browseFile {
  width: 20%;
}
.acceptedFile {
  border: 1px solid #ccc;
  height: 45;
  line-height: 2.5;
  padding-left: 10px;
  width: 80%;
}
.remove {
  border-radius: 0;
  padding: 0 20px;
}
.progressBarBackgroundColor {
  background-color: red;
}

.modal.exit {
  opacity: 0;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.dropzone {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  height: 150px;
  width: 400px;
  border: 2px dashed cyan;
  outline: none;
}

.dropzoneReject {
  border: 2px dashed red;
}

.dropzoneAccept {
  border: 2px dashed green;
}

.d-flex-center {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.flex-basis-max {
  flex-basis: max-content;
}

.custom-file-upload {
  /* border-radius: 50%; */
  display: inline-block;
  position: relative;
  padding: 6px;
  cursor: pointer;
  /* background: linear-gradient(270deg, #3fa1a9, #79f1a4); */
  /* margin-bottom: 25px; */
}

.custom-file-upload input[type="file"] {
  display: none;
}

.copy-btn {
  background: #fff;
  color: red;
  border: none;
  cursor: pointer;
  outline: none;
  /* padding: 1px 7px;
  height: 50px;
  width: 70px; */
}
.copy-btn:hover {
  opacity: 0.5;
}

.login-close {
  float: none;
  display: flex;
  align-self: end;
  justify-content: center;
}

.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.w-48 {
  width: 48%;
}

.reg-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
