/* .dataTables_wrapper .dataTables_length,
.dataTables_info,
.nav-tabs .nav-link.active,
.dataTables_length select {
  color: var(--color-table-tx) !important;
  border-color: var(--color-border-main) !important;
  background-color: var(--color-bg-container);
} */
.content-body {
  background-color: white;
}
.marine-icons {
  width: 70%;
}

.marine-active-menu {
  font-weight: bold;
}

.marine-tab-text {
  font-size: 13px;
}

.marine-borders {
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px #ddd;
}
/* .submit {
  padding-bottom: 10px;
} */

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next,
.dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:focus,
.dataTables_wrapper .dataTables_paginate .paginate_button {
  font-size: 10px;
}
.icon {
  max-width: 75% !important;
}
.icon-btn {
  width: 50px;
  height: 50px;
  border: none;
  background: red;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  /* left: 4px; */
  background-color: #fafafa;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #d70900;
}

input:focus + .slider {
  box-shadow: 0 0 1px #d70900;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.my-table {
  width: 100% !important;
}
.fix-form {
  width: 20% !important;
  height: calc(1.4em + 0.79rem + 1px);
}
.small-svg {
  width: 18px;
  height: 18px;
  margin-top: 5px;
}
.paginate > .page-item > .page-link {
  color: #b2b2b2 !important;
}

/* @media (min-width: 1600px) {
  .container {
    max-width: none !important;
  }
} */
.smsViewTab {
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  justify-items: center;
}
@media screen and (max-width: 600px) {
  .smsViewTab {
    justify-content: center;
  }
}

tbody + thead {
  display: none;
}

.card-image {
  min-height: 300px;
}

.card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-holder {
  height: 100%;
}

.page-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-content p {
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
}

.page-content-card {
  border-radius: 6px;
  border: 1px solid gainsboro;
  min-width: 300px;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.page-content-card a {
  width: 100%;
}

.csvReader {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.browseFile {
  width: 20%;
}
.acceptedFile {
  border: 1px solid #ccc;
  height: 45;
  line-height: 2.5;
  padding-left: 10px;
  width: 80%;
}
.remove {
  border-radius: 0;
  padding: 0 20px;
}
.progressBarBackgroundColor {
  background-color: red;
}

.modal.exit {
  opacity: 0;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.dropzone {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  height: 150px;
  width: 400px;
  border: 2px dashed cyan;
  outline: none;
}

.dropzoneReject {
  border: 2px dashed red;
}

.dropzoneAccept {
  border: 2px dashed green;
}

.d-flex-center {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.flex-basis-max {
  flex-basis: max-content;
}

.custom-file-upload {
  /* border-radius: 50%; */
  display: inline-block;
  position: relative;
  padding: 6px;
  cursor: pointer;
  /* background: linear-gradient(270deg, #3fa1a9, #79f1a4); */
  /* margin-bottom: 25px; */
}

.custom-file-upload input[type="file"] {
  display: none;
}

.copy-btn {
  background: #fff;
  color: red;
  border: none;
  cursor: pointer;
  outline: none;
  /* padding: 1px 7px;
  height: 50px;
  width: 70px; */
}
.copy-btn:hover {
  opacity: 0.5;
}

.login-close {
  float: none;
  display: flex;
  align-self: end;
  justify-content: center;
}

.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.w-48 {
  width: 48%;
}

.mx-w-580 {
  max-width: 580px;
}

.reg-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

table thead tr {
  white-space: nowrap;
}

.dataTables_wrapper .row > div {
  flex: 1;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 560px;
  width: 100%;
  padding-left: 160px;
  line-height: 1.1;
}

.notfound .notfound-404 {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 140px;
  height: 140px;
  background-image: url("./assets/img/emoji.png");
  background-size: cover;
}

.notfound .notfound-404:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2.4);
  -ms-transform: scale(2.4);
  transform: scale(2.4);
  border-radius: 50%;
  background-color: #f2f5f8;
  z-index: -1;
}

.notfound h1 {
  font-family: "Nunito", sans-serif;
  font-size: 65px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #151723;
  text-transform: uppercase;
}

.notfound h2 {
  font-family: "Nunito", sans-serif;
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #151723;
}

.notfound p {
  font-family: "Nunito", sans-serif;
  color: #999fa5;
  font-weight: 400;
}

.notfound a {
  font-family: "Nunito", sans-serif;
  display: inline-block;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
  color: #388dbc;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    width: 110px;
    height: 110px;
  }
  .notfound {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
  }
  .nav-line .nav-item + .nav-item {
    margin-left: 5px;
  }
  ul#myTab {
    justify-content: center;
  }
  .pd-md-y-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* ol.terms-list {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol.terms-list > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol.terms-list > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

ol.terms-list > li li,
ol.terms-list > ol li {
  margin: 0;
}

ol.terms-list > li li:before,
ol.terms-list > ol li:before {
  content: counters(item, ".") " ";
} */

ol.terms-list {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol.terms-list > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol.terms-list > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

ol.terms-list > li li {
  margin: 0;
}

ol.terms-list > li li:before {
  content: counters(item, ".") " ";
}

ol.terms-list ol.terms-inner-list {
  list-style-type: none;
  counter-reset: item "";
  margin: 0;
  padding: 0;
}

ol.terms-list ol.terms-inner-list > li {
  display: table;
  counter-increment: inner-item;
  margin-bottom: 0.6em;
}

ol.terms-list ol.terms-inner-list > li:first-child {
  counter-reset: inner-item;
}

ol.terms-list ol.terms-inner-list > li:before {
  content: counter(inner-item, lower-alpha) ". ";
  display: table-cell;
  padding-right: 0.6em;
}

ol.terms-list ol.terms-inner-list > li {
  margin: 0;
}

ol.terms-list ol.terms-inner-list > li:before {
  content: counter(inner-item, lower-alpha) ". ";
}

.analytics-card {
  min-height: 110px;
  display: flex;
  justify-content: center;
}

.pass-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}

.password-eye {
  position: absolute;
  color: #ff1f00;
  top: 38%;
  right: 3%;
}
.password-eye:hover {
  color: #d70900;
  cursor: pointer;
}

.billboard-img {
  background-color: #000;
  color: #fff;
  display: inline-block;
  /* margin: 8px; */
  /* max-width: 320px;
  min-width: 240px; */
  overflow: hidden;
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
}

.billboard-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.billboard-img-hover .preview-expand {
  color: #ff1f00;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
}

.billboard-img-hover .preview-expand i {
  opacity: 0.8;
}

.billboard-img-hover .preview-expand p {
  margin: 0;
  margin-right: 5px;
  /* text-align: center;
  display: flex; */
  line-height: initial;
}

.billboard-img-hover:before,
.billboard-img-hover:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 32px solid rgba(0, 0, 0, 0.5);
  border-bottom: 32px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
}

.billboard-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.billboard-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
}

.billboard-img figcaption h3 {
  color: #ffff;
}

.billboard-img-hover {
  cursor: zoom-in;
}

.billboard-img-hover:hover:before,
.billboard-img-hover:hover:after {
  transform: scale(1);
  opacity: 0.1;
}

.billboard-img-hover:hover > img {
  opacity: 0.7;
}

.billboard-img-hover:hover figcaption {
  opacity: 1;
}

.billboard-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.billboard-checkbox::before,
.billboard-checkbox::after {
  top: 4% !important;
  right: 0.5rem;
  left: auto;
}

.iphone-x {
  position: relative;
  margin: 40px auto;
  width: 270px;
  height: 580px;
  overflow: hidden;
  background-color: #ffff;
  background-image: linear-gradient(60deg, #fff 1%, #fff 100%);
  border-radius: 40px;
  box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919,
    0px 0px 0px 20px #111;
}

.iphone-x:before,
.iphone-x:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* // home button indicator */
.iphone-x:after {
  bottom: 7px;
  width: 140px;
  height: 4px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

/* // frontal camera/speaker frame */
.iphone-x:before {
  top: 0px;
  width: 56%;
  height: 30px;
  background-color: #1f1f1f;
  border-radius: 0px 0px 40px 40px;
}

.iphone-x > i,
.iphone-x > b,
.iphone-x > s,
.iphone-x > span {
  position: absolute;
  display: block;
  color: transparent;
}

/* // speaker */
.iphone-x > i {
  top: 0px;
  left: 50%;
  transform: translate(-50%, 6px);
  height: 8px;
  width: 15%;
  background-color: #101010;
  border-radius: 8px;
  box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
}

/* // camera */
.iphone-x > b {
  left: 0%;
  top: 0px;
  transform: translate(180px, 4px);
  width: 12px;
  height: 12px;
  background-color: #101010;
  border-radius: 12px;
  box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);
}

.iphone-x > b:after {
  content: "";
  position: absolute;
  background-color: #2d4d76;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  top: 3px;
  left: 3px;
  display: block;
  border-radius: 4px;
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
}

/* // time */
.iphone-x > s {
  top: 50px;
  /* color: #fff; */
  /* text-align: center; */
  text-decoration: none;
  width: 100%;
  /* font-size: 70px;
  font-weight: 100; */
  /* padding-top: 60px; */
}

/* // action buttons */
.iphone-x > span {
  bottom: 50px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  left: 30px;
}

.iphone-x > span + span {
  left: auto;
  right: 30px;
}

.iphone-x .iphone-x-content {
  overflow-y: auto;
  max-height: 110px;
  height: 100%;
}

.split-content {
  column-count: 2;
}

.rmdp-container .ep-arrow.custom-arrow::after {
  background-color: #ff1f00;
}

.rmdp-panel,
.rmdp-wrapper {
  width: 100%;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: #ff1f00;
}

.rmdp-panel-body li,
.rmdp-panel-body li.bg-blue {
  background-color: #ff1f00;
}

.rmdp-week-day,
.rmdp-header-values {
  color: #ff1f00;
}

.store-label {
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  cursor: pointer;
  width: max-content;
  color: #001737;
}

.store-label:hover {
  color: #ff0000;
}

.store-label::after {
  display: none;
  content: "" !important;
}

.store-file-input {
  visibility: hidden;
}

.store-input-icon {
  font-size: 18px;
  color: #ff0000;
}

.store-label-icon {
  background: rgba(255, 0, 0, 0.1);
  margin-right: 11px;
  border-radius: 4px;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.store-preview {
  padding: 65px 32px;
  background: #f2f5f9;
}

.store-close {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff0000;
  padding: 10px;
  opacity: 0.7;
}

.store-close:hover,
.store-close:focus {
  background: #ff0000;
  opacity: 1;
}

.store-close-icon {
  color: #fff;
  font-size: 10px;
}

.store-preview-icon {
  margin-top: 32px;
  margin-bottom: 11px;
  flex: 1;
  display: flex;
  align-items: center;
}

.store-preview-icon svg {
  opacity: 0.1;
}

.store-preview-banner {
  margin-top: 12px;
}

.store-card {
  background: #ffffff;
  padding: 20px 32px;
  color: #95a8b8;
  font-weight: 400;
  font-size: 20px;
  border-radius: 2px;
}

.store-card-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 5px;
}

.banner-card {
  min-height: 332px;
}

.store-product-card {
  background: #ffffff;
  padding: 17px 14px;
  color: #95a8b8;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.store-product-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-store-img {
  padding: 8px;
  background: #e4e4e4;
  border-radius: 2px;
  height: 75px;
  margin-right: 18px;
}

.product-store-img svg,
.product-store-img img {
  height: 100%;
}

.product-store-content h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 9px;
  color: #2c2c2c;
  margin-bottom: 12px;
}

.product-store-content p {
  font-weight: 300;
  font-size: 12px;
  line-height: 10px;
  color: #2c2c2c;
  margin: 0;
}

.product-store-content .product-store-price {
  font-weight: 400;
  margin-top: 16px;
}

.product-store-price span {
  font-weight: 700;
  font-size: 12px;
  line-height: 10px;
}
